openapi: 3.0.3
info:
  title: WeeChat Radio Hub API
  version: 0.1.15
  description: |
    Public read endpoints and signed telemetry write for the live map and integrations.
    Message text is never accepted on the write path.
servers:
  - url: https://hub.weechatradio.com
paths:
  /healthz:
    get:
      summary: Liveness
      responses:
        "200":
          description: Plain text `ok`
  /api/v1/stats:
    get:
      summary: Hub counters
      responses:
        "200":
          description: JSON with nodes_online, forwarded, uptime_secs
  /api/v1/nodes:
    get:
      summary: Live station metadata
      responses:
        "200":
          description: JSON `{ "nodes": [ … ] }` with band, freq_khz, grid, mode
  /api/v1/events:
    get:
      summary: Recent TX/RX/relay events
      parameters:
        - in: query
          name: since
          schema: { type: integer, format: int64 }
        - in: query
          name: limit
          schema: { type: integer, default: 200 }
      responses:
        "200":
          description: JSON `{ "events": [ … ] }`
  /api/v1/hubs:
    get:
      summary: Hub status and band rollup
      responses:
        "200":
          description: JSON `{ "hubs": [ { id, connected_nodes, forwarded, uptime_secs, bands } ] }`
  /api/v1/bands:
    get:
      summary: Stations grouped by band
      responses:
        "200":
          description: JSON `{ "bands": [ { band, freq_khz, frequency, gateways, stations } ] }`
  /api/v1/report:
    post:
      summary: Signed node telemetry (metadata only)
      parameters:
        - in: header
          name: X-Radio-Callsign
          required: true
          schema: { type: string }
        - in: header
          name: X-Radio-Pubkey
          required: true
          schema: { type: string, description: hex Ed25519 public key }
        - in: header
          name: X-Radio-Signature
          required: true
          schema: { type: string, description: hex signature of raw body }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NodeReport"
      responses:
        "200":
          description: Accepted
        "401":
          description: Bad signature
        "403":
          description: Blocked pubkey
        "429":
          description: Rate limited
  /ws/live:
    get:
      summary: WebSocket event firehose
      description: Same JSON events as the map ticker (hub_forward, node, telemetry events).
      responses:
        "101":
          description: Switching Protocols (WebSocket)
components:
  schemas:
    NodeReport:
      type: object
      required: [callsign, ts, mode]
      properties:
        callsign: { type: string }
        ts: { type: integer, format: int64 }
        grid: { type: string }
        mode: { type: string }
        ptt: { type: string }
        preset: { type: string }
        snr: { type: number }
        ber: { type: number }
        queue: { type: integer }
        hub_ok: { type: boolean }
        freq_khz: { type: integer }
        band: { type: string }
        settings: { type: object }
        events:
          type: array
          items: { type: object }
