# Example WeeChat commands for WeeChat Radio
/server add radio 127.0.0.1/6667 -autoconnect
/set irc.server.radio.capabilities "message-tags,echo-message,server-time,msgid"
/set irc.look.server_buffer independent
/connect radio
/script load radio.py
